@import "tailwindcss";

.result-text-shadow {
  text-shadow: -1px 1px 15px #000000;
}

.text-shadow-player {
  text-shadow: -1px 1px 15px #193cb8;
}

.text-shadow-tie {
  text-shadow: -1px 1px 15px #016630;
}

.text-shadow-banker {
  text-shadow: -1px 1px 15px #9f0712;
}

.roboto-mono-900 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
